<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560963689-b5682b6440f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1586&q=80);">
    <div class="container">
      <h1>Our Cocktails</h1>
      <p>Good Vibe for Good Day.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-3">
          <%cocktail.name %>
          <%= link_to cocktail_path(cocktail), class: "link-color" do %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path("https://res.cloudinary.com/olesyaste/image/upload/v1590141763/alzclcnprbdcl8k5p8t7.jpg", :width => 100, :height => 150, :crop => :fill)%>)">
                <%=cocktail.name%>
              </div>
          <% end %>
       </div>
    <% end %>
      <div class="col-3">
        <div class="card-category">
          <%= link_to new_cocktail_path do%>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>